.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  padding: var(--spacing-md);
}

.modal-content{
    background:  var(--bg-primary);
    border-radius: var(--border-radius-lg);
    box-shadow: var(--shadow-lg);
    width: 450px;
    max-width: 90vw;
    max-height: 90vh;
    overflow-y: auto;
    padding: var(--spacing-xl);
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.modal-close {
  position: absolute;
  top: var(--spacing-md);
  right: var(--spacing-md);
  background: none;
  border: none;
  font-size: 2rem;
  color: var(--text-secondary);
  cursor: pointer;
}
@media (max-width: 500px) {
  .modal-content {
    max-width: 99vw;
    width: 99vw;
    padding: var(--spacing-md);
  }
}

@media (max-width: 700px) {
  .modal-content button {
    width: 100%;
    margin-top: 0.6em;
  }
}
